//mixins
@mixin text-align($x: center) {
  text-align: $x;
}

@mixin display($x: block) {
  display: $x;
}

@mixin position($x: relative) {
  position: $x;
}

@mixin setPadding($value, $side: null) {
  padding#{$side}: $value
}

/*headings*/
h1 {
  @include setPadding(0.5em, -bottom);
}

/*header*/
header {
  .container {
  @include setPadding(1em, -top);
  }
  a {
    @include setPadding(1em, -right);
  }
}

.navbar-fixed-top {
  @include position; 
}

.navbar {
  margin-bottom: 0;
}

/*content*/
main {
  @include setPadding(5em, -bottom);
} 

img {
  max-width: 100%;
  width: 150px; 
}

.editProfile label {
  font-weight: normal; 
  @include display(inline); 
}

.center {
  @include text-align; 
}

img.center {
  @include display; 
  margin-left: auto;
  margin-right: auto;
}

div.center {
  @include text-align;
}

a.center {
  @include text-align(inline-block); 
}

.red {
  color: red;
  font-style: italic; 
}

#users {
  color: yellowgreen; 
}
