<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head> 
  <body>
    <header>
      <% include partials/header %>
    </header>
    <main>
      <h1>Welcome to 'Let's Be Honest'</h1>
      <p>This is a place where you can be upfront about your work habits,
      experience, weaknesses, strengths, etc. It's all in good fun! </p>
      <h1>Have Questions?</h1>
      <p>If you have any questions/comments, just fill out the below form
      to send to the administrator of the site.</p>
      <% if (messages) { %>
        <p><%= messages %></p>
      <% } %>
      <% for (var i=0; i < errors.length; i++) { %>
        <li><%= errors[i].msg %></li>
      <% } %> 
      <form name='contactForm' method="post" action=".">
        Questions/Comments:
        <textarea name="message" rows="10" cols="30"></textarea>
        Full Name:
        <input type='text' name="fullname"/>
        Email:
        <input type='text' name="email"/>
        <input type='submit' value='Submit'/> 
      </form>
    </main>
  </body> 
</html>