<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head> 
  <body>
    <header>
      <% include partials/header %>
    </header>
    <main>
      <h1>Login</h1>
      <% if (message) { %>
        <p><%= message %></p>
      <% } %>
      <form name='loginForm' method="post" action="/auth/login">
        Username:
        <input type='text' name="username"/>
        Password:
        <input type='password' name="password"/>
        <input type='submit' value='Submit'/> 
      </form>
    </main>
  </body> 
</html>