<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head> 
  <body>
    <header>
      <% include partials/header %>
    </header>
    <main>
      <h1>Login</h1>
      <% for (var i=0; i < errors.length; i++) { %>
        <li><%= errors[i].msg %></li>
      <% } %> 
      <form name='loginForm' method="post" action="/auth/login">
        Username:
        <input type='text' name="username"/>
        Password:
        <input type='text' name="password"/>
        <input type='submit' value='Submit'/> 
      </form>
    </main>
  </body> 
</html>