<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head> 
  <body>
    <header>
      <% include partials/header %>
    </header>
    <main>
      <h1><%=username%></h1> 
    </main>
  </body> 
</html>