<a href="/">Home</a> 
<% if (user) { %>
<a href="#">My Connections</a>
<a href="#">Messages</a> 
<a href="/auth/profile">Profile</a>
<a href="/auth/logout">Logout</a>
<% } else { %>
<a href="/auth/login">Login</a>
<a href="/auth/register">Register</a>
<% } %>
