<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <main class="container">
      <div class="row">
        <div class="col-md-12"> 
          <h1>Welcome to 'Let's Be Honest'</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"> 
          <p>Page not found</p>
        </div>
      </div> 
    </main>
  </body> 
</html>