<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head> 
  <body>
    <header>
      <% include partials/header %>
    </header>
    <main>
      <h1>Welcome to 'Let's Be Honest'</h1>
      <p>Server error</p>
    </main>
  </body> 
</html>