<!DOCTYPE html>
<html>
  <% include partials/head %>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="/dest-js/messages.js"></script>
  <body>
    <% include partials/header %>
    <main class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Chat</h1>
        </div>
      </div> 
      <div class="row"> 
        <div class="col-md-8">
          <div id="messages"></div> 
          <form action="/messages/">
            <p><input id="m"></p> 
            <input type="hidden" id="username" value="<%=user.username%>"> 
            <p><input type='submit' value='Send'/></p> 
            <input type='hidden' name="_csrf" value="<%= csrftoken %>"/>
          </form>
        </div>
        <div class="col-md-4">  
          <h3>Users Online</h3> 
          <div id="users"></div> 
        </div>
      </div>  
    </main>
  </body> 
</html>