<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <main class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Login</h1>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12">
          <% if (message) { %>
            <p class="red"><%= message %></p>
          <% } %>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12">
          <form name='loginForm' method="post" action="/auth/login">
            <p><input type='text' id="username" name="username"/></p>
            <p><label for="username">Username</label></p>
            <p><input type='password' id="password" name="password"/></p>
            <p><label for="password">Password</label></p>
            <p><input type='submit' value='Submit'/></p> 
            <input type='hidden' name="_csrf" value="<%= csrftoken %>"/>
          </form>
        </div>
      </div> 
      <div class="row">
          <div class="col-md-12">
            <a href="/auth/forgot">Forgot Password?</a>
          </div>
        </div> 
    </main>
  </body> 
</html>