<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head> 
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script>
    $(function () {
      var socket = io();
      $('form').submit(function() {
        var data= {
          message: $('#m').val(), 
          user: $('#username').val() 
        };
        socket.emit('chat message', data);
        $('#m').val('');
        return false; 
      });
      socket.on('chat message', function(data) {
        if (data.message != '') {
          $('#messages').append($('<p>').text(data.user + ': ' + data.message)); 
        } 
      })
      socket.on("usersOnlineUpdated", function(data) {
        const usersOnlineUpdated = data.map(username => $(`<p>${username}</p>`)); 
        $("#users").html(usersOnlineUpdated); 
      }); 
    }); 
  </script>
  <body>
    <header>
      <% include partials/header %>
    </header>
    <main>
      <h1>Messages</h1>
      <div id="messages"></div> 
      <form action="/messages/">
        <input id="m"> 
        <input type="hidden" id="username" value="<%=user.username%>"> 
        <input type='submit' value='Send'/> 
        <input type='hidden' name="_csrf" value="<%= csrftoken %>"/>
      </form>
      <div id="users">
      </div> 
    </main>
  </body> 
</html>