<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head> 
  <body>
    <header>
      <% include partials/header %>
    </header>
    <main>
      <h1><%= user.username %></h1> 
      <a href="/editprofile/">Edit Profile</a>
    </main>
  </body> 
</html>