<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <main class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Register</h1>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12">
          <% for (var i=0; i < errors.length; i++) { %>
            <p class="red"><%= errors[i].msg %></p>
          <% } %> 
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12">
          <form name='registerForm' method="post" action="/auth/register">
            <p><input type='text' id="username" name="username"/></p>
            <p><label for "username">Username</label></p> 
            <p><input type='text' id="email" name='email'/></p>
            <p><label for "email">Email</label></p>
            <p><input type='password' id="password" name="password"/></p>
            <p><label for"password">Password</label></p>
            <p><input type='password' id="password2" name="password2"/></p>
            <p><label for"password2">Retype Password</label></p>
            <p><input type='submit' value='Submit'/></p> 
            <input type='hidden' name="_csrf" value="<%= csrftoken %>"/>
          </form>
        </div>
      </div> 
    </main>
  </body> 
</html>