<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head> 
  <body>
    <header>
      <% include partials/header %>
    </header>
    <main>
      <h1>Register</h1>
      <% for (var i=0; i < errors.length; i++) { %>
        <li><%= errors[i].msg %></li>
      <% } %> 
      <form name='registerForm' method="post" action="/auth/register">
        Username:
        <input type='text' name="username"/>
        Password:
        <input type='password' name="password"/>
        Retype Password:
        <input type='password' name="password2"/>
        <input type='submit' value='Submit'/> 
        <input type='hidden' name="_csrf" value="<%= csrftoken %>"/>
      </form>
    </main>
  </body> 
</html>