<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head> 
  <body>
    <header>
      <% include partials/header %>
    </header>
    <main>
      <h1>Reset Password</h1>
      <% for (var i=0; i < errors.length; i++) { %>
        <li><%= errors[i].msg %></li>
      <% } %> 
      <form name='pswdresetForm' method="post" action="/auth/reset/<%= token %>">
        <label for="password">New Password:</label>
        <input type='password' id="password" name="password"/>
        <label for "password2">Retype Password:</label> 
        <input type='password' id="password2" name="password2"/>
        <input type='submit' value='Submit'/> 
        <input type='hidden' name="_csrf" value="<%= csrftoken %>"/>
      </form>
    </main>
  </body> 
</html>