<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <main class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Reset Password</h1>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12">
          <% for (var i=0; i < errors.length; i++) { %>
            <p class="red"><%= errors[i].msg %></p>
          <% } %> 
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12">
          <form name='pswdresetForm' method="post" action="/auth/reset/<%= token %>">
            <p><input type='password' id="password" name="password"/></p>
            <p><label for="password">New Password:</label></p>
            <p><input type='password' id="password2" name="password2"/></p>
            <p><label for "password2">Retype Password:</label></p>
            <p><input type='submit' value='Submit'/></p>
            <input type='hidden' name="_csrf" value="<%= csrftoken %>"/>
          </form>
        </div>
      </div> 
    </main>
  </body> 
</html>